old/
.DS_Store
*.txt
andrew*
configBoard633/
configBoard634*
config_tmp_*
*dep.py*
config/lpGBT16_backup.cfg
*pycache*
output-pulse-test-1.data
config/lpGBT16_2.cfg
configBoard634/
config/COLUTA20_temp.cfg
*.swp
parseData.py
configBoard397/
*.yml
*take*.py
*.hdf5
*.dat
data/
analysis/convert.py.dep
Runs/
scripts/plots/
